<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.breadcrumb.repository.AmountRepository">

    <!-- 컬럼명과 객체의 프로퍼티명을 연결한다. -->
    <resultMap type="Amount" id="AmountMap">
        <id column="amntno" property="no"/>
        <result column="mno" property="mno"/>
        <result column="type" property="type"/>
        <result column="hst" property="history"/>
        <result column="amnt" property="amount"/>
        <result column="cat" property="category"/>
        <result column="memo" property="memo"/>
        <result column="date" property="date"/>
    </resultMap>
    
<!--   <select id="findByMemberNo" 
          parameterType="int"
          resultMap="AmountMap">
    select 
        amntno,
        mno,
        NAME
    from bc_amount
    where MNO=#{value}
    order by NAME asc
  </select> -->
    
    <insert id="insert" parameterType="Amount" >
        insert into
        bc_amount(mno,type,hst,amnt,cat,memo,date)
        values(
        #{mno},
        #{type},
        #{history},
        #{amount},
        #{category},
        #{memo},
        #{date})
    </insert>
    
  <update id="update" parameterType="Amount">
    update bc_amount set 
        type = #{type},
        hst = #{history},
        amnt = #{amount},
        cat = #{category},
        memo = #{memo},
        date = #{date}
    where amntno = #{no} and mno = #{mno}
  </update>
  
  <delete id="delete" parameterType="Amount">
    delete from bc_amount 
    where amntno = #{no} and mno = #{mno}
  </delete>
  
  
</mapper>