<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.breadcrumb.repository.AmountRepository">

    <!-- 컬럼명과 객체의 프로퍼티명을 연결한다. -->
    <resultMap type="Amount" id="AmountMap">
        <id column="amntno" property="no"/>
        <result column="mno" property="memberNo"/>
        <result column="attype" property="amountType"/>
        <result column="hst" property="history"/>
        <result column="amnt" property="amount"/>
        <result column="cat" property="category"/>
        <result column="memo" property="memo"/>
        <result column="hdt" property="happenDate"/>
        <result column="cdt" property="createdDate"/>

        <result column="plcnm" property="placeName"/>
        <result column="plcaddr" property="placeAddress"/>
        <result column="mapx" property="mapx"/>
        <result column="mapy" property="mapy"/>
        <result column="rcpt" property="receiptFile"/>
    </resultMap>
    

    <resultMap type="DayHistory" id="DayHistoryMap">
        <id column="day" property="day"/>
        <result column="ttlAmnt" property="totalAmount"/>
        <collection property="amounts" ofType="Amount">
            <id column="amntno" property="no"/>
            <result column="mno" property="memberNo"/>
            <result column="attype" property="amountType"/>
            <result column="hst" property="history"/>
            <result column="amnt" property="amount"/>
            <result column="cat" property="category"/>
            <result column="memo" property="memo"/>
            <result column="hdt" property="happenDate"/>
            <result column="cdt" property="createdDate"/>
        </collection>
    </resultMap>
    

  <select id="findByAmountNoAndMemberNo"
          parameterType="map"
          resultMap="AmountMap">
    select 
        t001.amntno,
        t001.mno,
        t001.attype,
        t001.hst,
        t001.amnt,
        t001.cat,
        t001.memo,
        t001.hdt,
        t002.plcnm,
        t002.plcaddr,
        t002.mapx,
        t002.mapy,
        t002.rcpt
    from bc_amount t001
    left join bc_contents t002 on t001.amntno = t002.amntno
    where t001.amntno = #{amountNo} and t001.mno = #{userNo}
  </select>
    

    <insert id="insert" parameterType="Amount" useGeneratedKeys="true" keyColumn="amntno" keyProperty="no">
        insert into
        bc_amount(mno, attype, hst, amnt, cat, memo, hdt, cdt)
        values(
        #{memberNo},
        #{amountType},
        #{history},
        #{amount},
        #{category},
        #{memo},
        #{happenDate},
        now())
    </insert>

    <insert id="insertContents" parameterType="Amount">
        INSERT INTO
        bc_contents(amntno, plcnm, plcaddr, mapx, mapy, rcpt)
        VALUES (
        #{no},
        #{placeName},
        #{placeAddress},
        #{mapx},
        #{mapy},
        #{receiptFile})
    </insert>

    <!-- <select id="selectList" parameterType="int" resultMap="DayHistoryMap" >
        SELECT
            date_format(hdt, '%Y-%m-%d') day,
            amntno,
            attype,
            hst,
            amnt/*,
            date_format(date, '%Y-%m-%d') amnt_dt*/
        FROM bc_amount
        WHERE mno = #{value}
        ORDER BY hdt DESC, cdt DESC
    </select> -->

    <select id="selectList" parameterType="map" resultMap="DayHistoryMap" >
        SELECT
          date_format(hdt, '%Y-%m-%d') day,
          amntno,
          attype,
          hst,
          FORMAT(amnt, 0) amnt
        FROM bc_amount
        WHERE mno = #{userNo} and hdt LIKE #{month}
        ORDER BY hdt DESC, cdt DESC
    </select>

    <select id="findTotalByAmountTypeAndMonth" parameterType="map" resultType="int">
        SELECT
          SUM(amnt)
        FROM bc_amount
        WHERE mno = #{userNo} AND attype = #{amountType} AND hdt LIKE #{month}
        ORDER BY hdt DESC, cdt DESC
    </select>


    <update id="update" parameterType="Amount">
        update bc_amount set
            attype = #{amountType},
            hst = #{history},
            amnt = #{amount},
            cat = #{category},
            memo = #{memo},
            hdt = #{happenDate}
        where amntno = #{no} and mno = #{memberNo}
    </update>
  
    <delete id="delete" parameterType="map">
        delete from bc_amount
        where amntno = #{amountNo} and mno = #{userNo}
    </delete>
    
</mapper>